*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',  sans-serif;
}

.container{
height: 100vh;
width: 100%;
background-color: #333;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.music-player{
    width: 400px;
    background: #ffe0e5;
    padding: 25px 25px;
    text-align: center;
    border-radius: 6px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
nav .circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #FFF;
    color: rgb(52, 46, 47);
    box-shadow:  0 5px 10px rgba(255,26,26,0.22) ;

}
.song-img{
    border-radius: 50%;
    border: 8px solid #fff;
    width: 220px;
     box-shadow: 0 10px 60px (255,26,26,0.22);
}

.music-player{
    font-weight: 400;
    font-size: 20px;
    color:#333;
    margin-top: 20px;
}
.music-player p{
    font-size: 14px;
    color:#333;
}

#progress{
  width: 80%;  
  -webkit-appearance: none;
  height: 6px;
   background:#f53192 ;
  cursor: pointer;
  margin: 20px;
}
#progress::webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50%;
    border: 8px solid #fff;
    width: 25px;
    height: 25px;
    box-shadow:  0 5px 5px rgba(255,26,26,0.22);
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color:#fff;
}
